body {
    font-family: sans-serif;
    background-color: green;
}

header{
    background-color: blue;
    padding: 5px;
    text-align: center;
}
h1{
    background-color: orangered;
    font-family: fantasy;
}
.nav{
    background-color: black;
    border: 5px solid orange;
    color: orange;
    text-align: center;
}
.navp1{
    border: 3px solid orange;
    margin: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
.navp2{
    border: 3px solid orange;
    margin: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
.imgprice1{
    border: 10px solid lightgreen;
    border-radius: 10px;
    text-align: left;
    height: 100px;
    width: 135px;
}
.imgprice2{
    border: 10px solid lightgreen;
    border-radius: 10px;
    text-align: left;
    height: 100px;
    width: 135px;
}
.imgprice3{
    border: 10px solid lightgreen;
    border-radius: 10px;
    text-align: left;
    height: 100px;
    width: 135px;
}
.price{
    text-align: center;
}
.mincredit{
    text-align: right;
}
table,td{
    text-align: center;
    border:5px solid rgb(205, 10, 205);
}
table p{
    background-color: black;
    border: 3px solid orange;
    color: orangered;
}
footer img{
    height: 70px;
    width: 70px;
    border-radius: 100px;
}
footer{
    background-color: orangered;
    text-align: center;
}
main h1 {
    text-align: center;
}
